@font-face {
  font-family: "iconfont"; /* Project id 4063111 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1683811289031') format('woff2'),
       url('iconfont.woff?t=1683811289031') format('woff'),
       url('iconfont.ttf?t=1683811289031') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-twitter:before {
  content: "\ea90";
  font-size: 26px;
}

.icon-zhihu:before {
  content: "\ea8b";
  font-size: 25px;
}

.icon-rili:before {
  content: "\e794";
}

.icon-rili1:before {
  content: "\e606";
}

.icon-tupian:before {
  content: "\e63c";
}

.icon-biaoqian:before {
  content: "\e724";
}

.icon-shouye:before {
  content: "\e66f";
}

.icon-lianjie:before {
  content: "\e68a";
}

.icon-biaoqian1:before {
  content: "\e635";
}

.icon-tupian1:before {
  content: "\e701";
}

.icon-fenlei1:before {
  content: "\e695";
}

.icon-lianjie1:before {
  content: "\e69b";
}

.icon-shouye1:before {
  content: "\e633";
}

.icon-biaoqian2:before {
  content: "\e60b";
}

.icon-weibiaoti-:before {
  content: "\e603";
}

.icon-yinle:before {
  content: "\e6c9";
}

.icon-yule:before {
  content: "\e76e";
}

.icon-shipin:before {
  content: "\e812";
}

.icon-yinle1:before {
  content: "\e99a";
}

.icon-zhaopian:before {
  content: "\f53c";
}

.icon-shipin1:before {
  content: "\e62e";
}

.icon-guanyuwomen:before {
  content: "\e628";
}

.icon-tupian2:before {
  content: "\f7e4";
}

.icon-shipin2:before {
  content: "\f825";
}

.icon-biaoqian3:before {
  content: "\fc98";
}

.icon-shouye2:before {
  content: "\e619";
}

.icon-yule1:before {
  content: "\e689";
}

.icon-fenlei:before {
  content: "\e637";
}

.icon-wenzhang:before {
  content: "\e60c";
}

